<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_IMockQueryService">
					<binaryMessageEncoding>
						<readerQuotas
							maxDepth="10000"
							maxStringContentLength="100000"
							maxArrayLength="10000"
							maxBytesPerRead="10000"
							maxNameTableCharCount="10000" />
					</binaryMessageEncoding>
					<httpTransport
					  maxBufferSize="2147483647"
					  maxReceivedMessageSize="2147483647">
					</httpTransport>
				</binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4483/Services/MockQueryService.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_IMockQueryService"
                contract="Server.IMockQueryService" name="CustomBinding_IMockQueryService" />
        </client>
    </system.serviceModel>
</configuration>